; List of usefull git commands (bash version)
; ============================
; git stash show -p [stash@{0}]               ; shows a diff of the last stash with the current branch
; git diff --name-only stash@{0} master       ; lists files changed in the last stash compared to master's HEAD
[user]
  email = nicolas@codewithflair.org
  name = Nicolas Wormser
  signingkey = 03BC4AD253B82986
[push]
  default = simple
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
[alias]
  cl = clone
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --decorate --graph --all
  r = remote
  re = remote
  sw = switch
[color]
  ui = true
  pager = no
#[commit]
#  gpgsign = true
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[merge]
  conflictstyle = diff3
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  colorMoved = default
[init]
  defaultBranch = main
[pager]
  branch = false
[pull]
  ff = only
[core]
  pager = nvim -R
  editor = nvim
