URxvt.font: xft:DejaVu Sans Mono:size=10
URxvt.scrollBar: false
Xcursor.theme: Simple-and-Soft
#Xcursor.theme: Vanilla-DMZ
Xcursor.size: 24

!! Term output and scrolling
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!! TODO Scroll to adjust terminal font size
